
.header {
    bottom: 10px;
    font-family: 'Jura', sans-serif;
    padding-top: 60px;
}

.header h1{

    border-radius: 10px;
    background-color: rgba(129, 122, 122, 0.2);
    font-size: 45px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 150px;
} 