
.header {
    bottom: 10px;
    font-family: 'Jura', sans-serif;
    padding-top: 40px;
}

.header h1{
    
    background-color: rgb(219, 203, 203);
    border: 1px solid steelblue;
    border-radius: 10px;
    outline-style: outset;
    outline-color: brown;
    height: 50px;
    max-width: 500px;
    margin: 30px auto;
    padding-top: 15px;
    text-align: center;
} 