body {
    font-family: 'Jura', sans-serif;
    background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 30px;
    margin: 20;
    padding: 20;
}

h2 {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.login {
    border-style: solid;
    border-color: rgb(113, 173, 173);
    background-color: rgb(89, 187, 187);
    border-width: 10px;
    font-family: 'Jura', sans-serif;
    padding: 10%;
    width: 100%;
    margin-left: 20px;
}

button {
    font-family: 'Jura', sans-serif;
    padding: 4px 10px;
    background-color: aquamarine;
    border-radius: 4px;
    font-size: 15px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: white;
}