
.header-container {
    position:absolute;
    justify-content: center;
    align-items: center;
    /* background: greenyellow; */
    width: 75%;
    left:12.5%;
    /* bottom: 10px; */
    font-family: 'Jura', sans-serif;
    /* margin-top: 20%; */

}

.header-container .header-txt{

    border-radius: 10px;
    background-color: rgba(129, 122, 122, 0.2);
    font-size: 45px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    color: rgb(89, 187, 187);
    display: block;
    font-weight: bold;
} 