
.footer {
    margin-top: 80px;
    padding-bottom: 0.1px;
    text-align: center;
    font-size: 15px;
    background-color: rgba(129, 122, 122, 0.3);
    line-height: 0.15cm;
    margin-bottom: -12px;
}

.footer h2{
   padding-top: 25px;
   padding-bottom: 20px;
}
